@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/font/IRANSans.ttf');
    font-weight: normal;
    font-style: normal;
  }

    
  body {
    font-family: 'MyCustomFont', sans-serif;
    scroll-behavior: smooth;
  }

  .custom-file-input {
    display: none;
  }
  
  .custom-button {
    background-color: #97979775;
    cursor: pointer;
    /* color: transparent; */
  }
  
  .gridArea{
    grid-area: 1/1/2/2;
  }

  .box{
    width: calc(100% - 45px);
  }

  .h-calc{
    height: calc(100% - 55px);
  }
  .h2-calc{
    height: calc(100vh - 55px);
  }
  .h3-calc{
    height: calc(92vh - 150px);
  }
  .w-calc{
    width: calc(100% - 100px);
  }
  .w-calc2{
    width: calc(100% - 140px);
  }
  .w-calc3{
    width: calc(100% - 180px);
  }
  .w-calc4{
    width: calc(100% - 265px);
  }

  .translateZ{
    transform: perspective(800) translateZ(-100) !important;
  }


  /* .swiper {
    width: 100%;
    height: 100%;
    }
    
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      border: 1px solid gainsboro;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .3);
      height: 100%;
      
      Center slide text vertically
      display: flex;
      justify-content: center;
      align-items: center;
      }
      
      .swiper-slide img {
        
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      } */
      
      .swiper {
        width: 100%;
        height: 100%;
        padding: 10px !important;
        /* padding: 10px !important; */
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        border-radius: 20px;
        overflow: hidden;
      
      /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }